@font-face{
    font-family: 'rubik';
    src: url(../fonts/Rubik-Light.ttf);
    font-weight: 300;
}

@font-face{
    font-family: 'rubik';
    src: url(../fonts/Rubik-Regular.ttf);
    font-weight: 400;
}

@font-face{
    font-family: 'rubik';
    src: url(../fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

@font-face{
    font-family: 'rubik';
    src: url(../fonts/Rubik-SemiBold.ttf);
    font-weight: 600;
}

@font-face{
    font-family: 'rubik';
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: 700;
}